body {
    background-color: #333940;
    background-image: url(../img/Fondo.png);
    background-size: cover;
    height: 80vh; 
    background-blend-mode: darken;
} 

#cabecera1 {
    background-color: #333940;
    height: 120px;

}

#cabeceras {
    position: sticky;
    top: 0;
}

.Home {
    color: #ffffac;
    text-align: center;
    background-color: #0b78ba;
    padding: 10px;
    margin-top: -20px;
    
}


.menu {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 50px;
    margin-top: -50px;
    margin-right: 40px;
    

}

.menu a {
    text-decoration: none;
}
#precios{
        background-color: #ffffac;
        color: #0b78ba;
        border-radius: 5px;
        padding: 5px 10px;
    }
.menu a {
    color: #ffffac;
    margin-left: 20px;
    font-size: 25px;
    
}

.barra {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
}
.free {
    background-color: #ffffac;
    text-align: left;
    margin-top: 20px;
    margin-left: 50px;
    width: 250px;
    border: #ffffac;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}
.ESSENTIAL {
    font-size: 15px;
    text-decoration: underline;
    padding-bottom: 15px;
}
.price_essential {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}
.free p {
    font-size: 18px;
    margin-top: -15px;
    text-align: left;
    justify-content: left;
    max-width: 250px;
    
}
.lista_essential {
    font-size: 16px;
    text-align: left;
    margin-left: -30px;
    line-height: 40px;
    max-width: 250px;
}
.pro {
    background-color: #ffffac;
    text-align: left;
    margin-top: 20px;
    margin-left: 10px;
    width: 300px;
    border: #ffffac;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 40px;
    padding-bottom: 10px;
}
.PROFESSIONAL {
    font-size: 15px;
    text-decoration: underline;
    padding-bottom: 15px;
}
.price_pro {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}
.pro p {
    font-size: 18px;
    margin-top: -15px;
    text-align: left;
    justify-content: left;
    max-width: 250px;
}
.lista_pro {
    font-size: 16px;
    text-align: left;
    margin-left: -30px;
    line-height: 40px;
    max-width: 250px;
}
.premium {
    background-color: #ffffac;
    text-align: left;
    margin-top: 20px;
    margin-left: 50px;
    width: 250px;
    border: #ffffac;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}
.DELUXE {
    font-size: 15px;
    text-decoration: underline;
    padding-bottom: 15px;
}
.price_deluxe {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}
.premium p {
    font-size: 18px;
    margin-top: -15px;
    text-align: left;
    justify-content: left;
    max-width: 250px;
}
.lista_deluxe {
    font-size: 16px;
    text-align: left;
    margin-left: -30px;
    line-height: 40px;
    max-width: 250px;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}
.planes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top:  -125px;
    margin-left: 180px;
}

#como {
    display: flex;
    margin-left: 25px;
}

.funcion {
    
    display: flex;
    flex-direction: row-reverse;
    color: #ffffff;
    justify-content: center;
    margin-top: -206px;

    
}

.funcion p {
    display: flex;
    align-items: center;
    margin: 10%;
    width: 650px;
    text-align: center;
    justify-content: center;

}

#foto_descarga {
    margin-left: 25px;
}

.Pie {
    background-color: #ffffac;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-top: 60px;
}

.lanforce {
    color: #333940;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: 40%;
    
}
#listapie {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px;
    flex-direction: row;
    list-style-type: none;

}

#listapie li {
    padding: 5px;
}